Flask
SpeechRecognition
pydub
Werkzeug
anthropic
python-dotenv
Flask-Markdown==0.3
flask-socketio
Flask-Limiter
openai==0.28
google-cloud-aiplatform
pydantic
google-generativeai
gunicorn
eventlet
